name: Application Release Branch Preparation

on:
  workflow_dispatch:
    inputs:
      previous_release_branch:
        description: 'Previous release branch (e.g., R1-2024)'
        required: true
        type: string
      new_release_branch:
        description: 'New release branch (e.g., R2-2024)'
        required: true
        type: string
      use_snapshot_fallback:
        description: 'Use snapshot branch as fallback if previous release branch not found'
        required: false
        type: boolean
        default: false
      use_snapshot_version:
        description: 'Use snapshot version as a base version'
        required: false
        type: boolean
        default: true
      dry_run:
        description: 'Perform dry run without making changes'
        required: false
        type: boolean
        default: false        
      dispatch_id:
        description: 'Unique identifier for this workflow dispatch'
        required: false
        type: string
        default: ''

permissions:
  contents: write

jobs:
  prepare-app-release:
    name: Prepare Application Release
    uses: folio-org/kitfox-github/.github/workflows/app-release-preparation.yml@RANCHER-2320 # TODO: replace with a master branch when PR
    with:
      app_name: ${{ github.repository }}
      previous_release_branch: ${{ inputs.previous_release_branch }}
      new_release_branch: ${{ inputs.new_release_branch }}
      use_snapshot_fallback: ${{ inputs.use_snapshot_fallback }}
      use_snapshot_version: ${{ inputs.use_snapshot_version }}
      dry_run: ${{ inputs.dry_run }}      
    secrets: inherit 