name: Application Release Branch Preparation

run-name: Application Release Branch Preparation${{ inputs.dispatch_id != '' && format(' [{0}]', inputs.dispatch_id) || '' }}

on:
  workflow_dispatch:
    inputs:
      previous_release_branch:
        description: 'Previous release branch (e.g., R1-2024)'
        required: true
        type: string
      new_release_branch:
        description: 'New release branch (e.g., R2-2024)'
        required: true
        type: string
      use_snapshot_fallback:
        description: 'Use snapshot branch as fallback if previous release branch not found'
        required: false
        type: boolean
        default: false
      use_snapshot_version:
        description: 'Use snapshot version as a base version'
        required: false
        type: boolean
        default: false
      dry_run:
        description: 'Perform dry run without making changes'
        required: false
        type: boolean
        default: false        
      dispatch_id:
        description: 'Unique identifier for this workflow dispatch'
        required: false
        type: string
        default: ''

permissions:
  contents: write

jobs:
  prepare-app-release:
    name: Prepare Application Release
    uses: folio-org/kitfox-github/.github/workflows/app-release-preparation.yml@RANCHER-2523-test
    with:
      app_name: ${{ github.event.repository.name }}
      repo: ${{ github.repository }}
      previous_release_branch: ${{ inputs.previous_release_branch }}
      new_release_branch: ${{ inputs.new_release_branch }}
      use_snapshot_fallback: ${{ inputs.use_snapshot_fallback }}
      use_snapshot_version: ${{ inputs.use_snapshot_version }}
      dry_run: ${{ inputs.dry_run }}      
    secrets: inherit

  slack_notification:
    name: Slack Notification
    needs: prepare-app-release
    if: always() && inputs.dry_run == false && vars.SLACK_NOTIF_CHANNEL != ''
    uses: folio-org/kitfox-github/.github/workflows/app-release-preparation-notification.yml@master
    with:
      app_name: ${{ github.repository }}
      new_release_branch: ${{ inputs.new_release_branch }}
      source_branch: ${{ needs.prepare-app-release.outputs.source_branch }}
      app_version: ${{ needs.prepare-app-release.outputs.app_version }}
      commit_sha: ${{ needs.prepare-app-release.outputs.commit_sha }}
      workflow_result: ${{ needs.prepare-app-release.result }}
      workflow_run_id: ${{ github.run_id }}
      workflow_run_number: ${{ github.run_number }}
      slack_notif_channel: ${{ vars.GENERAL_SLACK_NOTIF_CHANNEL }} # ${{ vars.SLACK_NOTIF_CHANNEL }}
    secrets: inherit
